<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Terrain</th>
            <th>Population</th>
    </thead>
    <tbody id="tableSwapi">
    </tbody>
</table>