
@{
    ViewData["Title"] = "EmailConfirm";
}

<h1>Email Confirmation</h1>

<p>
    If your email matches an existing account we will 
    send you a password recovery email within a few minutes. 
    If you have not received an email check your spam folder or 
    contact Website Support.<br />
    <a href="@Url.Action("Login", "Account")"><span>Back to Login</span></a>
</p>

