@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-action="Register">
    <h6>Nama :</h6>
    <input name="FullName" type="text" /><br/>
    <h6>Email :</h6>
    <input name="Email" type="text" /><br/>
    <h6>Tanggal Lahir :</h6>
    <input name="BirthDate" type="date" /><br/>
    <h6>Password :</h6>
    <input name="Password" type="password" /><br /><br />
    <button type="submit">Submit</button>
</form>