
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form method="post">
    <input name="email" placeholder="Email" type="text" />
    <input name="password" placeholder="Old Password" type="password" />
    <input name="confirm" placeholder="New Password" type="password" />
    <button type="submit">Submit</button>
</form>