@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

<form method="post" asp-action="ForgotPassword">
    <input name="email" placeholder="Email" type="text" />
    <input name="confirm-email" placeholder="Confirm Email" type="text" />
    <button type="submit"> Submit </button>
</form>